{% extends 'index.html' %}

{% block title %}| about {% endblock %}

{% block body %}

<h2>PENGALAMAN PRIBADI</h2>
<ul>
    <li>
        <p>Ketua Ekskul Seni SMPN 1 Weru 2018-2019</p>
    </li>
    <li>
        <p>Anggota Ekskul Bahasa Inggris (NICE) SMAN 1 Plumbon</p>
    </li>
    <li>
        <p>Anggota Ekskul Bola Voli SMAN 1 PLUMBON</p>
    </li>
    <li>
        <p>Juara 1 kompetisi Hadroh Kabupaten Cirebon 2019</p>
    </li>
    <li>
        <p>Juara 3 kompetisi Bola Voli GSS Salman 2019</p>
    </li>
    <li>
        <p>Juara 4 kompetisi Bola Voli Kabupaten/Kota Cirebon 2023</p>
    </li>
</ul>

{% endblock %}