{% extends 'index.html' %}

{% block title %}| Profile {% endblock %}

{% block body %}

<h2>DATA PRIBADI</h2>
<table cellspacing="0" cellpadding="10">
    <tr>
        <td>
            <p style="font-weight: bold;">Nama</p>
        </td>
        <td>Ma'rifatu Ambiya</td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold;">Tempat,Tanggal Lahir</p>
        </td>
        <td>Indramayu, 16 April 2005</td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold;">Agama</p>
        </td>
        <td>Islam</td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold;">Alamat</p>
        </td>
        <td>Cirebon, Jawa Barat, Indonesia</td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold;">Nomor Telepon</p>
        </td>
        <td>+62 878 4647 4777</td>
    </tr>
    <tr>
        <td>
            <p style="font-weight: bold;">Email</p>
        </td>
        <td>marifatuambiya16@upi.edu</td>
    </tr>
</table>


{% endblock %}
